<%= flash[:notice3] %>
<h1>Books</h1>
 <p>Title</p><p>Body</p>
<% @books.each do |book| %>


  <span><%= book.title %></span>
  <span><%= book.body %></span>
  <p><%= link_to "Show", book_path(book.id) %></p>
 <p><%= link_to "Edit", edit_book_path(book.id) %></p>
  <p><%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></p>

<% end %>
