<p class = notice>
<%= flash[:notice1] %>
<%= flash[:notice2] %>
</p>
<p>
  <strong>Title:</strong><%= @book.title %>
  </p>

<p>
  <strong>Body:</storng><%= @book.body %>
  </p>

<div><%= link_to "Edit", edit_book_path(@book.id) %>|<%= link_to "Back", '/books' %></div>